$def with()

$var title	Index
$var css:	index.css
$var js:	

<table id="list">
	<tbody>
		<tr>
			<td class="link">
				<li>
					<a href="/solve/"> Solve </a>
				</li>
			</td>
			<td class="comments">
				Solve a sudoku puzzle in fast way
			</td>
		</tr>
		
		<tr>
			<td class="link">
				<li>
					<a href="/replace/"> Replace </a>
				</li>
			</td>
			<td class="comments">
				Change a sudoku puzzle to another one by replacement
			</td>
		</tr>
		
		<tr>
			<td class="link">
				<li>
					<a href="/demo/"> Demo </a>
				</li>
			</td>
			<td class="comments">
				Watch a demo how to solve a sudoku puzzle step by step using brute-force method
			</td>
		</tr>
	</tbody>
</table>
<ul>
</ul>