$def with()

$var title:	Replace
$var css:	grid.css replace.css
$var js:	grid.js replace.js

$:gridrender.grid("puzzle", "Input the sudoku puzzle you want to solve:", None, "p")

<div id="map">
	<table>
		<caption>
			Replace Rules:
		</caption>
		<tbody>
		$for i in range(1, N + 1):
			<tr>
				<td>
					$i
				</td>
				<td>
					=>
				</td>
				<td>
					<input id="$i" type="text" class="cell">
				</td>
			</tr>
		</tbody>
	</table>
	<input id="submit" type="button" value="Submit">
</div>

$:gridrender.grid("solution", "Click 'Submit' to get the solution:", None, "s")

