div#puzzle, div#map, div#replace {
	display: inline-block;
	height: 400px;
	vertical-align: top;
}

div#puzzle, div#replace {
	width: 400px;
}

div#map {
	width: 180px;
}

div#map table {
//	margin: 0px auto;
//	width: 150px;
}

div#map table td {
	width: 40px;
}

div#map table input {
	width: inherit;
}

input#submit {
	display: inline-block;
	margin: 0px auto;
}
