div#original, div#map, div#target {
	display: block;
	float: left
}

div#original, div#target {
}

div#map {
	width: 100px;
}

div#map table {
	margin: 0px auto;
}

table .cell {
	width: 30px;
	height: 30px;
}
