div#puzzle, div#map, div#solution {
	display: inline-block;
	height: 400px;
}

div#puzzle, div#solution {
	width: 400px;
}

div#puzzle table,
div#solution table {
	width: 380px;
}

div#map {
	width: 200px;
}

div#map table {
	margin: 0px auto;
	width: 150px;
}

div#map table td {
	width: 40px;
}

div#map table input {
	width: inherit;
}

input#submit {
	display: block;
	clear: both;
	margin: 0px auto;
}

